.footer {
  align-items: center;
  background-color: #ccc;
  bottom: 0;
  display: flex;
  font-size: 25px;
  height: 50px;
  justify-content: space-around;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
}
